*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0d0d0d;
    color:#fff;
}

header{
    position:sticky;
    top:0;
    background:#111;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    border-bottom:2px solid #d4af37;
    z-index:999;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo img{
    width:65px;
    height:65px;
    border-radius:50%;
}

.logo h1{
    color:#d4af37;
    font-size:32px;
}

nav a{
    color:#fff;
    text-decoration:none;
    margin-left:20px;
    transition:.3s;
}

nav a:hover{
    color:#d4af37;
}

.hero{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75));
}

.hero h2{
    font-size:55px;
    color:#d4af37;
}

.hero p{
    margin:20px 0;
    font-size:20px;
}

.btn{
    display:inline-block;
    margin:10px;
    padding:15px 28px;
    background:#d4af37;
    color:#111;
    border-radius:50px;
    text-decoration:none;
    font-weight:bold;
}

.btn:hover{
    background:#fff;
}

.special,
.menu,
.gallery,
.contact{
    padding:70px 8%;
}

.special h2,
.menu h2,
.gallery h2,
.contact h2{
    text-align:center;
    color:#d4af37;
    margin-bottom:35px;
    font-size:40px;
}

.special-grid,
.menu-grid,
.gallery-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
}

.food-card,
.menu-card{
    background:#1b1b1b;
    border-radius:15px;
    overflow:hidden;
    transition:.4s;
    border:1px solid #333;
}

.food-card:hover,
.menu-card:hover{
    transform:translateY(-8px);
}

.food-card img,
.menu-card img,
.gallery-grid img{
    width:100%;
    display:block;
}

.food-card h3,
.menu-card h3{
    color:#d4af37;
    text-align:center;
    padding-top:15px;
}

.food-card p,
.menu-card span{
    display:block;
    text-align:center;
    padding:12px;
    color:#fff;
}

.gallery-grid img{
    border-radius:15px;
    transition:.4s;
}

.gallery-grid img:hover{
    transform:scale(1.05);
}

footer{
    background:#111;
    text-align:center;
    padding:25px;
    border-top:2px solid #d4af37;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

nav a{
display:block;
margin:10px;
}

.hero h2{
font-size:34px;
}

}
